<?xml version="1.0" encoding="utf-8"?>

<!-- Replace "com.company.product" in with your package name -->
<!-- Replace android:icon="@drawable/icon" with the path to your app's icon -->
<!-- Replace android:label="Swarm Unity Demo" with your app's label -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.product"
    android:versionCode="3"
    android:versionName="1.2" >

    <application
        android:icon="@drawable/swarm_icon"
        android:label="Swarm Unity Demo" >
		
		<!-- Default Unity Activities -->
        <activity 
			android:label="Swarm Unity Demo" 
			android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" 
			android:name="com.unity3d.player.UnityPlayerProxyActivity" >
			<intent-filter> 
				<action android:name="android.intent.action.MAIN" /> 
				<category android:name="android.intent.category.LAUNCHER" /> 
			</intent-filter> 
		</activity>
		
		<activity 
			android:label="Swarm Unity Demo" 
			android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen" 
			android:name="com.unity3d.player.UnityPlayerNativeActivity" > 
			<meta-data android:name="android.app.lib_name" android:value="unity"/> 
			<meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" /> 
		</activity>
		
		
		<!-- Required Swarm Activity -->
        <activity
            android:label="Swarm Unity Demo"
			android:name="com.swarmconnect.SwarmMainActivity"
            android:configChanges="orientation|keyboardHidden"            
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateHidden" />

		<!-- If needed, add additional Activities here -->

		
		<!-- Required Swarm Service -->		
        <service android:name="com.swarmconnect.NotificationService" android:process=":swarm" />

		<!-- If needed, add additional Services here -->		
			
    </application>

	
	<!-- If needed, you can increase the minSdkVersion -->	
    <uses-sdk android:minSdkVersion="3" />

	
	<!-- If needed, you can update the screens supported -->	
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false" />
	
	
	<!-- If needed, you can add additional permissions here -->
	<!-- Do not remove the INTERNET, READ_PHONE_STATE, and ACCESS_NETWORK_STATE permissions -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
</manifest>